.cart-page {
    margin: 20px;
    padding: 20px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-body h4 {
    font-weight: bold;
  }
  
  button {
    width: 100%;
  }
  
  button:focus {
    box-shadow: none;
  }
  
  h1 {
    color: #343a40;
    font-size: 2rem;
  }
  
  .table th {
    background-color: #f8f9fa;
  }
  
  .table td {
    vertical-align: middle;
  }
  